.container{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.creativity{
    width: 300px;
    height: 400px;
    display: flex;
    border: 1px;
    flex-direction: row;
}
.development{
    width: 300px;
    height: 400px;
    display: flex;
    border:1px;
    flex-direction: row;
}
.management{
    width: 300px;
    height: 400px;
    border: 1px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;

}
