*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.box{
    display: flex;
    box-shadow: 0px 5px rbg(0,0,0 0.1);
    width: 200px;
    
}
h6{
    color: blue;
}