*{
    border-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
table{
    width: 400px;
}
table th td{
    border: 1px solid #979696;
    border-collapse: collapse;
}
th td{
    padding: 10px;
}
tr:nth-child(odd){
    
    background-color: #ffff;

    
}
tr:nth-child(even){
    
    background-color: #f1f1fd;
}
th{
    background-color: #c223bc;
}
